# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/server/node_modules
/client/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/client/build
/client/public/tiles
/server/auckland
/server/.env
/server/server.cert
/server/server.key
/model
*.accdb
*.mdb

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
